@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
</head>
<body>
    @Html.Partial("_LayoutHeader")
    <main>
        <section class="hero-section">
            <div class="hero-content">
                <h1>Benvenuti alla Pizzeria Bella Napoli</h1>
                <p>La migliore pizza fatta con amore!</p>
                <a asp-controller="Pizza" asp-action="Index" class="btn">Visualizza il nostro menu</a>
            </div>
        </section>
    </main>
    @Html.Partial("_LayoutFooter")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
